/* .navbar{ 
  background-color: #644b06;
  height: 10vh;
  display: flex;
  overflow: hidden;
  position: relative;
} */

.navbar {
  display: flex;
  justify-content: flex-end;
  height: 15vh;
  background-color: #644b06;
}

.logo-image img{
  width: 150px;
  height: 100px;
  display:flex;
}
