.app {
  text-align: center;
}

.main-container {
  background-image: url('https://wallpapercave.com/wp/cqhO8rQ.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.search-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 10px;
}

input[type=text] {
  width: 30%;
  background-color: #f3d083;
  border: none;
  border-bottom: 4px solid #4d4205;
  align-self: center;
  padding: 10px 10px;
}

.poke-name {
  color: black;
  font-weight: bold;
}
